body{
    background-color: lightslategray;
}
#links{
    width: auto;
    height: 30px;
    border-bottom: 5px solid grey;
}
.l1{
    color: darkgrey;
    font-size: 20px;
    text-decoration: none;
}
#h1{
    color: darkgrey;
    font-size: 40px;
    text-align: center;
}
#p1{
    color: darkgrey;
    font-size: 20px;
    text-align: center;
}
#niche_apple{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    border: gray;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
}
